/* h1{
    color: rgb(123, 0, 254);
}

p{
    color: blue;
}

.red{
    color: red;
}

.border-red{
    border: red solid 1px;
    padding: 10px;
    margin: 10px;
}

input{
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
} */
